.sergey-about-page {
    .title {
        text-align: center;
        margin-top: 10px;
        h1 {
            font-size: 26px;
        }
    }

    .team-container {
        max-width: 60vw;
        margin: 0 auto;

        .team-member {
            border: 1px solid red;
            position: relative;
            overflow: hidden;
            text-align: center;
            img {
                width: 100%;
            }
            .fore-text {
                text-align: center;
                //border: 1px solid green;
                display: inline-block;
                position: absolute;
                top: -150px;
                width: 100%;
                padding: 30px 20px;
                    h1 {
                        font-size: 14px;
                    }
                    p {
                        font-size: 12px;
                    }
            }
            margin-bottom: 10px;
        }

        .team-member:hover {
            .fore-text {
                    top: -15px;
                    transform: translateY(5px);
                    transition: all 0.9s 0.1s;
                    h1 {
                        font-weight: bold;
                        color: darkblue;
                        padding: 5px;
                        border-radius: 99px;
                        line-height: 1.5;
                        background: whitesmoke;
                        font-size: 14px;
                        span {
                            font-weight: normal;
                            color: black;
                        }
                    }
                    p {
                        color: red;
                        font-size: 12px;
                    }
            }
        }
    }



    @media screen and (min-width: 576px) {
        .team-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10px;
        }
    }

    @media screen and (min-width: 992px) {
        .team-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 10px;
        }
    }
}
